<div class="container main-container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <input [(ngModel)]="buscar"
                name="buscar"
                (keyup.enter)="buscarPelicula()"
                type="text"
                class="form-control"
                placeholder="Buscar peliculas">
      </div>
    </div>
  </div>


  <div class="row animated fadeIn fast">
      <div class="card-columns">

          <div class="card p-3" *ngFor="let pelicula of _peliServes.peliculas">
              <img class="card-img-top" [src]="pelicula | imagenes" [alt]="pelicula.original_title">
              <div class="card-body">
                  <h5 class="card-title">{{ pelicula.original_title }}</h5>
                  <p class="card-text">{{ pelicula.overview | slice:0:200 }}...</p>
                  <button type="button" class="btn btn-outline-primary" [routerLink]="['/pelicula', pelicula.id, 'buscar', buscar ]">
                    Ver mas
                  </button>
              </div>
          </div>


      </div>
  </div>


</div>
