<div [ngClass]="alerta" class="alert" role="alert">
  This is a primary alert—check it out!
</div>

<button type="button" class="btn btn-info" (click)="alerta = 'alert-info'">
  Info
</button>

<button type="button" class="btn btn-success" (click)="alerta = 'alert-success'">
  Success
</button>

<br><br>

<h3 [ngClass]="{ 'text-danger': propiedades.danger, 'text-info': !propiedades.danger }">
  Hola mundo...
</h3>
<br>

<h2>Procesos asyncronos</h2>
<hr>

<button type="button" class="btn btn-primary" (click)="ejecutar()" [disabled]="loading">
  <!-- <i class="fa fa-floppy-o" aria-hidden="true"></i> -->
  <i [ngClass]="{ 'fa-save':!loading, 'fa-refresh fa-spin':loading }" class="fa fa-refresh fa-spin" aria-hidden="true"></i>
  <span *ngIf="!loading">Guardar cambios</span>
  <span *ngIf="loading">Espere porfavor</span>
</button>
