<div class="container">

  <br>
  <h1>Pipes</h1>
  <hr>

  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Variable</th>
      <th scope="col">Pipe</th>
      <th scope="col">Producto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{nombre}}</td>
      <td> uppercase </td>
      <td>{{nombre | uppercase}}</td>
    </tr>

    <tr>
      <td>{{nombre}}</td>
      <td> lowercase </td>
      <td>{{nombre | lowercase }}</td>
    </tr>

    <tr>
      <td>{{nombre}}</td>
      <td> slice:3 </td>
      <td>{{nombre | slice:3 }}</td>
    </tr>

    <tr>
      <td>{{nombre}}</td>
      <td> slice:0:3 </td>
      <td>{{nombre | slice:0:3 }}</td>
    </tr>


    <tr>
      <td>{{nombre}}</td>
      <td> capitalizado </td>
      <td>{{nombre | capitalizado }}</td>
    </tr>

    <tr>
      <td>{{nombre}}</td>
      <td> capitalizado </td>
      <td>{{nombre | capitalizado:false }}</td>
    </tr>

  </tbody>
</table>

<h4>YouTube <small>Video</small></h4>
<hr>
<iframe width="560" height="315" [src]="video | domseguro:'https://www.youtube.com/embed/' " frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

<h4>Password</h4>
<hr>
{{pass}} <br>
password:{{activar}}
<button (click)="activar = !activar " type="button" class="btn btn-primary">Activar/Desactivar</button>
<br>
{{pass | contrasena:activar }}


</div>
