<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               [(ngModel)]="usuario.nombre"
               required
               minlength="3"
               #nombre="ngModel">

         <div *ngIf="nombre.errors?.required" class="alert alert-danger" role="alert">
           Este es un campo obligatorio
         </div>
         <div *ngIf="nombre.errors?.minlength" class="alert alert-warning" role="alert">
           Este campo debe tener por lo menos {{ nombre.errors.minlength.requiredLength }} caracteres
         </div>

      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="apellido"
               [(ngModel)]="usuario.apellido"
               required
               minlength="3"
               #apellido="ngModel">

        <div *ngIf="apellido.errors?.required" class="alert alert-danger" role="alert">
          Este es un campo obligatorio
        </div>
        <div *ngIf="apellido.errors?.minlength" class="alert alert-warning" role="alert">
          Este campo debe tener por lo menos {{ nombre.errors.minlength.requiredLength }} caracteres
        </div>

      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             name="email"
             [(ngModel)]="usuario.email"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #email="ngModel">

      <div *ngIf="email.errors?.required" class="alert alert-danger" role="alert">
        Este es un campo obligatorio
      </div>
      <div *ngIf="email.errors?.pattern" class="alert alert-warning" role="alert">
        Este no es un correo valido
      </div>

    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-md-8">
        <select [(ngModel)]="usuario.pais"
                class="form-control"
                name="pais">

            <option value="">Seleccione un pais</option>
            <option *ngFor="let pais of paises" [value]="pais.codigo">{{pais.nombre}}</option>

        </select>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-md-8">

      <div class="form-check" *ngFor="let s of sexos">
        <input class="form-check-input"
                [(ngModel)]="usuario.sexo"
               name="sexo"
               [value]="s"
               type="radio"
               required>
        <label class="form-check-label">
          {{s}}
        </label>
      </div>

    </div>
  </div>





  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
       <button type="submit" class="btn btn-primary" [disabled]="!forma.valid">Guardar</button>
    </div>
  </div>

</form>
