<h1>Heroes</h1>
<hr>

<div class="row">
  <div class="col-md-12 text-right">
      <button [routerLink]="['/heroe', 'nuevo']" type="button" name="button" class="btn btn-primary">
        Nuevo heroe
      </button>
  </div>
</div>
<br>


<div class="row animated fadeIn fast">

  <div class="col-md-12">

      <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Casa</th>
                <th>Bio</th>
                <th class="text-right">Acciones</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let key of heroes | keys; let i = index; ">
                <th>{{ i + 1}}</th>
                <td>{{ heroes[key].nombre }}</td>
                <td>{{ heroes[key].casa }}</td>
                <td>{{ heroes[key].bio }}</td>
                <td class="text-right w120">
                    <button [routerLink]="['/heroe', key]" type="button" class="btn btn-success">Editar</button>
                    <button (click)="eliminar(key)" type="button" class="btn btn-danger">Borrar</button>
                </td>
              </tr>

            </tbody>
          </table>

          <div class="alert alert-info" role="alert" *ngIf="(heroes | keys).length === 0 && !loading">
            No hay registros que mostrar
          </div>

          <div class="alert alert-warning" role="alert" *ngIf="loading">
            <strong>Cargando...</strong> porfavor espere
          </div>

      </div>

  </div>

</div>
